extends layout

block content
 .site-section
    .container
        .row
          .col-md-12
            .row.auctions-entry
                each Product in products
                    
                        .col-6.col-md-4.col-lg-4.pb-5
                            .item
                                strong.price #{Product.ProductPrice} Rs

                                img.img-fluid(src='../images/Fake.jpg' alt='Image')
                            
                            .d-flex.mb-2.font-weight-bold.fo
                                  
                                span.font-weight-bold Name: #{Product.ProductName}   
                                span.ml-auto Quantity #{Product.ProductQuantity}
                            h3
                                if user  
                                     a.btn.btn-success(href="/product/OurProducts/cart/"+Product._id) Add To Cart
                                
    -var s=Math.ceil(Totals/9);
                               
    .pb-5
        .container.text-center
            .row
                .col-lg
                    .custom-pagination
                       -for (var n = 1; n <=s; ++n)
                        a.active(href="/product/OurProducts?page="+n)=n
                           
                       
                       
